.hero {
    padding-top: 10px;

    @media screen and (min-width: 1200px) {
        padding-top: 18px;
    }
}

.horoscope-img{
    width: 287px;
    height: 158px;

    @media screen and (min-width: 1200px) {
        width: 623px;
        height: 344px;
    }
}

/*
.horoscope-circle{
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
} */