:root {
    --blue-color: #315DF9;
    --dark-color: #343B4D;
    --first-white-color: #F3F4F8;
    --second-white-color: #D6D6D6;
    --third-white-color: #AFDCE6;
    --dataProcessLine-color: #419330;
    --progressLine-color: #B53E42;
    --main-font: 'Roboto', sans-serif;
}